.Wr{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    font-weight: 600;
    font-size: 30px;
}

.WrI>i {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 600;
    font-size: 150px;
    color: rgba(34, 34, 34, 0.753);
}