.imgWr {
    position: relative;
}


.heartFalse {
    position: absolute;
    top: 0.1em;
    right: 0.4em;
    color: silver;
    opacity: 0.7;
    font-size: 34px;
}

.heartTrue {
    position: absolute;
    top: 0.1em;
    right: 0.4em;
    color: brown;
    opacity: 0.7;
    font-size: 34px;
}

.name {
    font-weight: 700;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

.discount {
    font-weight: 500;
}

.price {
    font-weight: 700;
}

.priceDiscount {
    font-weight: 700;
    color: rgba(255, 30, 0, 0.884);
}

.wight {
    opacity: 0.5;
    margin-bottom: 60px;
}

.changeCardButtonWr {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
    margin-bottom: 30px;
    gap: 25px;
}



.btnWr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-top: 25px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.btn {
    padding: 10px 18px;
    border: none;
    color: inherit;
    background-color: #ffe44d;
    border-radius: 20px;
    font-weight: 600;
}

.btn:hover {
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.btn:active {
    background-color: rgb(196, 170, 28);
}

.btn  i {
    margin-right: 10px;
}

.btnDel {
    padding: 10px 18px;
    border: none;
    color: inherit;
    background-color: #ff714d;
    border-radius: 20px;
    font-weight: 600;
}

.btnDel:hover {
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.btnDel:active {
    background-color: rgb(207, 66, 47);
}

.btnDel  i {
    margin-right: 10px;
}

.tags {
    position: absolute;
    top: 0.9em;
    left: 1em;
}

.new {
    background-color: rgba(255, 30, 0, 0.884);
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    color: white;
    font-weight: 600;
    margin-right: 5px;
}

.other {
    background-color: #ffe44d;
    border-radius: 20px;
    padding: 3px 10px 3px 10px; 
    font-weight: 600;
    margin-right: 5px;   
}

.discountTg {
    background-color: rgba(255, 123, 0, 0.822);
    border-radius: 20px;
    padding: 3px 10px 3px 10px; 
    font-weight: 600;
    margin-right: 5px;  
}

.link {
    opacity: 0.7;
    font-weight: 600;
    font-size: 24px;
}

.WrBlock {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    margin: 1em;
    margin-bottom: 3em;
    margin-top: 3em;    
    min-height: 65vh;
    grid-template-rows: auto;
    
}

@media (max-width: 900px) {
    .WrBlock {
        grid-template-columns: auto;
     }      
}

.stock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 5px;
    border: none;
    color: inherit;
    background-color: rgba(192, 192, 192, 0.555);
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 30px;
}

.stockStop {
    opacity: 0.2;
}


.totalPrice {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}

.stock>button {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
}

.stockP {
    font-weight: 500;
    opacity: 0.7;
}

.descriptionH {
    margin-top: 30px;
}

.description {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    opacity: 0.9;
}

.btnReviews {
    padding: 10px 18px;
    border: none;
    color: inherit;
    background-color: silver;
    border-radius: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.btnReviews:hover {
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.btnReviews:active {
    background-color: rgb(128, 120, 120);
}

.btnReviewsWr {
    display: flex;
    gap: 200px;
}

.btnReviews  i {
    margin-right: 10px;
}

.reviewsWr{
    display: grid;
    gap: 5px;  
    margin-bottom: 30px;
}

