.imgWr {
    position: relative;
}


.heart {
    position: absolute;
    top: 0.5em;
    right: 1em;
    color: silver;
    opacity: 0.5;
}

.name {
    font-weight: 700;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

.discount {
    font-weight: 500;
}

.price {
    font-weight: 700;
}

.priceDiscount {
    font-weight: 700;
    color: rgba(255, 30, 0, 0.884);
}

.wight {
    opacity: 0.5;
}

.btnWr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding-top: 25px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.btn {
    padding: 10px 18px;
    border: none;
    color: inherit;
    background-color: rgba(250, 225, 6);
    border-radius: 20px;
    font-weight: 600;
}

.btn:hover {
    background-color: rgb(250, 213, 4);
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.tags {
    position: absolute;
    top: 0.9em;
    left: 1em;
}

.new {
    background-color: rgba(255, 30, 0, 0.884);
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    color: white;
    font-weight: 600;
    margin-right: 5px;
}

.other {
    background-color: rgba(250, 225, 6);
    border-radius: 20px;
    padding: 3px 10px 3px 10px; 
    font-weight: 600;
    margin-right: 5px;   
}

.link {
    opacity: 0.7;
    font-weight: 600;
    font-size: 24px;
}

.Wr{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3em;
    margin: 1em;
    margin-bottom: 3em;
    margin-top: 3em;    
    min-height: 65vh;
    grid-template-rows: auto;
    
}

.stock {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    align-items: center;
    padding: 5px;
    border: none;
    color: inherit;
    background-color: rgba(192, 192, 192, 0.555);
    border-radius: 4px;
    font-weight: 600;
    margin-bottom: 30px;
}

.totalPrice {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 30px;
}

.stock>button {
    border: none;
    background-color: transparent;
    font-weight: 600;
    font-size: 20px;
}

.stockP {
    font-weight: 500;
    opacity: 0.7;
}