.card {
    box-shadow: 0 0 5px #2226;
    border-radius: 1em;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1em;
    justify-content: space-between;

}

.heart {
    position: absolute;
    top: 0.5em;
    right: 1em;
    color: crimson;
}

img {
    max-width: 100%;
}

.btnWr {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn {
    padding: 7px 10px;
    border: none;
    color: inherit;
    background-color: rgba(250, 225, 6);
    border-radius: 20px;
    font-weight: 600;
}

.tags {
    position: absolute;
    top: 0.9em;
    left: 1em;
}

.new {
    background-color: rgba(255, 30, 0, 0.884);
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    color: white;
    font-weight: 600;
    margin-right: 5px;
}

.other {
    background-color: rgba(250, 225, 6);
    border-radius: 20px;
    padding: 3px 10px 3px 10px; 
    font-weight: 600;
    margin-right: 5px;   
}