.header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    box-shadow: 0 0 5px #2226;
    top: 0;
    position: sticky;
    // background-color: rgba(250, 225, 6);
    background-color: #ffe44d;
    z-index: 1;
}   

.logo {
    font-size: 2em;
}

.search {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #222;
    outline: none;
}

.search:focus {
    border-bottom-color: #fff;
}

.nav{
    display: flex;
    gap: 0.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    padding: 6px 10px 6px 15px;
    background-color: #ffe44d;
    border-radius: 10px;
    font-size: 1.4em;
}


.btn:hover {
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.btn:active {
    background-color: rgb(175, 163, 50);
}

.user {
    padding: 6px 15px 6px 15px;
    background-color: #ffe44d;
    border-radius: 10px;
    font-size: 1.3em;
}

.user:hover {
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.user:active {
    background-color: rgb(175, 163, 50);
}

.basket {
    padding: 5px 15px 5px 15px;
    background-color: #ffe44d;
    border-radius: 10px;
    font-size: 1.3em;
    position: relative;
}

.basketQuantity {
    position: absolute;
    padding: 0px 10px 20px 34px;
    border-radius: 10px;
    bottom: 3px;
    left: 0px;
    color: red;
    font-size: 15px;
}
.heartQuantity{
    position: absolute;
    padding: 0px 10px 20px 30px;
    border-radius: 10px;
    bottom: 3px;
    left: 0px;
    color: red;
    font-size: 15px;
}

.basketQuantity:hover {
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.heartQuantity:hover {
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.basketQuantity:active {
    background-color: rgb(175, 163, 50);
}

.heartQuantity:active {
    background-color: rgb(175, 163, 50);
}


.heart{
    padding: 7px 15px 5px 15px;
    background-color: #ffe44d;
    border-radius: 10px;
    font-size: 1.3em;
    position: relative;
}