
.link {
    opacity: 0.7;
    font-weight: 600;
    font-size: 24px;
}

.wr {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 3em;
    margin: 30px 10px 10px 10px;
}

@media (max-width: 900px) {
    .wr {
        grid-template-columns:  1fr;
     }      
}

.form {
    display: grid;
    grid-template-rows: auto;

}

@media (max-width: 900px) {
    .form {
        width: 80%;
     }      
}

.field {
    border-radius: 5px;
    margin-bottom: 15px;
}

.textarea {
    border-radius: 5px;
    margin-bottom: 15px;
    padding-left: 12px;
    border: 1px solid rgba(65, 63, 63, 0.342);
}

.errors {
    border-radius: 5px;
    color: crimson;
}

.btnWr {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 50px;
    justify-content: center;
    padding: 0px 30px;    
}

.btn {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 18px;
    border: none;
    color: inherit;
    background-color: #ffe44d;
    border-radius: 20px;
    font-weight: 600;
}

.fake {
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 18px;
    border: none;
    color: inherit;
    background-color: silver;
    border-radius: 20px;
    font-weight: 600;
    text-align: center;
    opacity: 0.7;
}

.btn:hover {
    box-shadow: 0px 0px 3px 0.1px rgba(0, 0, 0, 0.527);
}

.btn:active {
    background-color: rgb(196, 170, 28);
}

.card{
    margin-bottom: 30px;
    padding: 20px 20px;
    box-shadow: 0 0 5px #2226;
}

@media (max-width: 900px) {
    .card {
        width: 80%;
     }      
}

img {
    max-width: 100%;
}

.discount {
    font-weight: 500;
}

.price {
    font-weight: 700;
}

.priceDiscount {
    font-weight: 700;
    color: rgba(255, 30, 0, 0.884);
}

.wight {
    opacity: 0.5;
}

.name {
    font-weight: 700;
    margin-bottom: 20px;
}

.AddProductDoneWr{
    display: flex;
    justify-content: center;
    flex-direction: column
}

.AddProductDone {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    font-weight: 600;
    font-size: 30px;
}

.AddProductDoneI>i {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-weight: 600;
    font-size: 150px;
    color: rgba(34, 34, 34, 0.753);
}

.AddProductDoneBtnLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.AddProductDoneBtn{
    border: none;
    border-radius: 25px;
    font-weight: 500;
    font-size: 30px;
    opacity: 0.7;
    padding: 5px 15px;
    margin: 20px 0;
}

.AddProductDoneBtn:hover{
    background-color: #ffe44d;
}